@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.grid-cols-auto {
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
}

a {
  --tw-border-opacity: 1;
  color: rgb(210 179 125 / var(--tw-border-opacity));
}
.animate-hero-swipe {
  animation: heroSwipe 1000ms alternate both;
}
a{
  border-bottom: 1px solid rgb(31 41 55 / 1);
}
a:hover{
  border-bottom: 1px solid rgb(210 179 125 / 1);
  opacity: 0.75;
}
@keyframes heroSwipe {
  from {
    width: 0%;
  }
  to {
    width: 110%;
    color: white;
  }
}
