@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts/Montserrat/stylesheet.css");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@viewport {
  min-zoom: 50%;
  max-zoom: 200%;
}
/* #011737 */

body {
  font-family: "Montserrat";
  color: rgb(var(--foreground-rgb));
  background: #011737;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.grid-cols-auto {
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
}

input:-webkit-autofill,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  --tw-border-opacity: 1;
  -webkit-box-shadow: 0 0 0px 1000px rgb(210 179 125 / var(--tw-border-opacity))
    inset !important;
  transition: background-color 5000s ease-in-out 0s;
  --tw-shadow-colored: none !important;
}

.form input {
  @apply border-themeColor bg-primary appearance-none border-[0.5px] rounded w-full p-2 selection:bg-themeColor autofill:selection:!bg-blue-300
         autofill:!shadow-themeColor autofill:focus:!shadow-themeColor autofill:hover:!bg-themeColor text-gray-700
          leading-tight focus:outline-none focus:shadow disabled:opacity-50 disabled:cursor-not-allowed;
}

.form input:autofill ~ .input-loader {
  @apply border-r-primary border-y-white bg-navBarColor;
}

a {
  --tw-border-opacity: 1;
  color: rgb(210 179 125 / var(--tw-border-opacity));
}
.animate-hero-swipe {
  animation: heroSwipe 1000ms alternate both;
}
a {
  border-bottom: 1px solid rgb(31 41 55 / 1);
}
a:hover {
  border-bottom: 1px solid rgb(210 179 125 / 1);
  opacity: 0.75;
}
@keyframes heroSwipe {
  from {
    width: 0%;
  }
  to {
    width: 110%;
    color: white;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
input[type="checkbox"] {
  outline: none;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  @apply text-primary;
  box-shadow: inset 1em 1em currentColor;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
input[type="checkbox"]:checked {
  @apply bg-themeColor;
  border: none;
  animation: check 0.5s ease-in-out;
}
@keyframes check {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: none;
  /* outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em); */
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
