@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato");

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

/* #011737 */

body {
  font-family: "Lato", sans-serif;
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
  background: #f0ecec;
}

.grid-cols-auto {
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
}

input:-webkit-autofill,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  --tw-border-opacity: 1;
  -webkit-box-shadow: 0 0 0px 1000px rgb(210 179 125 / var(--tw-border-opacity))
    inset !important;
  transition: background-color 5000s ease-in-out 0s;
  --tw-shadow-colored: none !important;
}

.form input {
  @apply border-transparent bg-transparent appearance-none border-[0.5px] rounded w-full p-2 selection:bg-transparent autofill:selection:!bg-blue-300
         autofill:hover:!bg-transparent text-gray-700
          leading-tight focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed;
}

.form input:autofill ~ .input-loader {
  @apply border-r-primary border-y-white bg-navBarColor;
}

a {
  --tw-border-opacity: 1;
  color: rgb(210 179 125 / var(--tw-border-opacity));
}
a {
  @apply border-b-2 border-[#1f2937];
}
a:hover {
  @apply opacity-75 border-b-2 border-themeColor;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
input[type="checkbox"] {
  outline: none;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 25%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  @apply text-primary;
  box-shadow: inset 1em 1em currentColor;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
input[type="checkbox"]:checked {
  @apply bg-themeColor;
  border: none;
  animation: check 0.5s ease-in-out;
}
@keyframes check {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: none;
  /* outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em); */
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
